In [18]:
import pandas as pd
import numpy as np
import csv

df=pd.read_csv('customer.csv')
to_drop = ["city", "state", "Country", "zip", "Phone 1", "Phone 2", "Email", "Customer Id", "Company","Website","Subscription Date","Last Name","Index"]
df.drop(to_drop, inplace=True, axis=1, errors='ignore')
new_name={
    'First Name': 'first_name',
}
df.rename(columns=new_name, inplace=True)
df.head(3)

  first_name               City
0     Sheryl       East Leonard
1    Preston  East Jimmychester
2        Roy      Isabelborough