In [ ]:
import sqlite3
import prettytable
prettytable.default='default'
%load_ext sql
%sql sqlite:///final.db
con=sqlite3.connect("final.db")

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [13]:
con.commit()

In [7]:

sql="""DROP TABLE IF EXISTS PETSALE;"""
%sql $sql

 * sqlite:///final.db
Done.

[]

In [30]:
sql="""CREATE TABLE PETSALE (
	ID INTEGER NOT NULL,
	ANIMAL VARCHAR(20),
	SALEPRICE DECIMAL(6,2),
	SALEDATE DATE,
	QUANTITY INTEGER,
	PRIMARY KEY (ID)
	);"""
%sql $sql

 * sqlite:///final.db
(sqlite3.OperationalError) table PETSALE already exists
[SQL: CREATE TABLE PETSALE ( ID INTEGER NOT NULL, ANIMAL VARCHAR(20), SALEPRICE DECIMAL(6,2), SALEDATE DATE, QUANTITY INTEGER, PRIMARY KEY (ID) );]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [31]:
sql="""INSERT INTO PETSALE VALUES
(1,'Cat',450.09,'2018-05-29',9),
(2,'Dog',666.66,'2018-06-01',3),
(3,'Parrot',50.00,'2018-06-04',2),
(4,'Hamster',60.60,'2018-06-11',6),
(5,'Goldfish',48.48,'2018-06-14',24);"""
%sql $sql

 * sqlite:///final.db
(sqlite3.IntegrityError) UNIQUE constraint failed: PETSALE.ID
[SQL: INSERT INTO PETSALE VALUES (1,'Cat',450.09,'2018-05-29',9), (2,'Dog',666.66,'2018-06-01',3), (3,'Parrot',50.00,'2018-06-04',2), (4,'Hamster',60.60,'2018-06-11',6), (5,'Goldfish',48.48,'2018-06-14',24);]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [32]:
cur = con.cursor()
cur.execute("SELECT * FROM PETSALE;")
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'Cat', 450.09, '2018-05-29', 9)
(2, 'Dog', 666.66, '2018-06-01', 3)
(3, 'Parrot', 50, '2018-06-04', 2)
(4, 'Hamster', 60.6, '2018-06-11', 6)
(5, 'Goldfish', 48.48, '2018-06-14', 24)

In [44]:
sql="""DELIMITER @
CREATE PROCEDURE UPDATE_SALEPRICE (IN Animal_ID INTEGER, IN Animal_Health VARCHAR(5))
BEGIN
    IF Animal_Health = 'BAD' THEN
        UPDATE PETSALE
        SET SALEPRICE = SALEPRICE - (SALEPRICE * 0.25)
        WHERE ID = Animal_ID;
    ELSEIF Animal_Health = 'WORSE' THEN
        UPDATE PETSALE
        SET SALEPRICE = SALEPRICE - (SALEPRICE * 0.5)
        WHERE ID = Animal_ID;
    ELSE
        UPDATE PETSALE
        SET SALEPRICE = SALEPRICE
        WHERE ID = Animal_ID;
    END IF;
END @

DELIMITER ;"""

In [45]:
sql="""CALL RETRIEVE_ALL;"""
%sql $sql

sql="""CALL UPDATE_SALEPRICE(1, 'BAD');"""
%sql $sql

sql="""CALL RETRIEVE_ALL;"""
%sql $sql

 * sqlite:///final.db
(sqlite3.OperationalError) near "CALL": syntax error
[SQL: CALL RETRIEVE_ALL;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///final.db
(sqlite3.OperationalError) near "CALL": syntax error
[SQL: CALL UPDATE_SALEPRICE(1, 'BAD' );]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite:///final.db
(sqlite3.OperationalError) near "CALL": syntax error
[SQL: CALL RETRIEVE_ALL;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [35]:
def retrieve_all():
    return con.execute("select * from petsale").fetchall()
print(retrieve_all())

[(1, 'Cat', 450.09, '2018-05-29', 9), (2, 'Dog', 666.66, '2018-06-01', 3), (3, 'Parrot', 50, '2018-06-04', 2), (4, 'Hamster', 60.6, '2018-06-11', 6), (5, 'Goldfish', 48.48, '2018-06-14', 24)]

In [36]:
sql="""create view retrieve as 
    select * from petsale"""
%sql $sql

 * sqlite:///final.db
(sqlite3.OperationalError) view retrieve already exists
[SQL: create view retrieve as select * from petsale]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [39]:
%sql INSERT INTO petsale VALUES (6,'Cat',450.09,'2018-05-29',9);
%sql INSERT INTO petsale VALUES (7,'Cat',450.09,'2018-05-29',9);

 * sqlite:///final.db
1 rows affected.
 * sqlite:///final.db
1 rows affected.

[]

In [40]:
#%sql SELECT * FROM retrieve;
%sql SELECT * FROM petsale;

 * sqlite:///final.db
Done.

KeyError: 'DEFAULT'